@font-face {
    font-family: 'GardensC';
    src: url("../fonts/GardensC.otf");
}

*{
    font-family: 'GardensC';
}

/* Container */

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.body {
    margin: 0;
    font-family: 'GardensC';
    line-height: 1.6;
    background-color: #F8F8F8;
}


.header_logo {
    color: black;
    font-size: 20px;
}

.header {
    top: 0;
    left: 0;
    right: 0;
    background-color: black;

}


.header_logo {
    
    font-size: 35px;
    font-weight: 300; 
    color: white;
    line-height: 37px;
    text-align: center;
    margin-right: 40px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.nav {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-left: 25px;
    margin-right: 25px;
    text-transform:uppercase;
    

}

.nav_link {
    display: inline-block;
    vertical-align: top; 
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 300;
    transition: color 0.2s linear;
    margin: 0px 16px;

    
}

.intro {
    width: 100%;
    height: 100vh;
    background: url("img/background.jpg") center no-repeat;
    background-size: cover;
}  

.title {
    text-align: center;
    font-size: 48.83px;
    color: white;
    font-weight: bold;

}

.title_inner{
    width: 100%;
    padding-top: 350px;
    text-align: center;
    font-weight: bold;
}

.btn {
    color: black;
    text-decoration: none;
    background: white;
    border-radius: 8px;
    padding: 16px 16px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    cursor:pointer;
    
}

.onas {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 45px;
}

.onasText {
    text-align: center;
    font-size: 20px;
}

.findTitle {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 45px;
}

.find {
    display:flex;
    justify-content:space-between;
    padding: 100px;
   
}

.block_janr {
    border-radius: 0;
    background: transparent;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 150px
}

.janr {
    border-radius: 0;
    background: transparent;
    background-color: white;
    height: 50px;
    padding: 10px;
    border: 0;
    font-size: 20px;
    line-height: 1;
    -webkit-appearance: none;
    width: 400px
    color: black;
    border: 2px solid #000000;
    box-sizing: border-box;
}



input[type="date"] {
    background-color: white;
    padding: 10px;
    position: absolute;
    font-size: 16px;

}

input[type="text"] {
    background-color: white;
    padding: 10px;
    font-size: 16px;
}

.find_text {
    color: white;
    text-decoration: none;
    background: black;
    border-radius: 8px;
    padding: 8px 8px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    margin-left: 500px;
    
}